server:
  port: 1111
eureka:
  client:
    fetch-registry: false
    register-with-eureka: false
    service-url:
      defaultZone: http://localhost:${server.port}/eureka/
spring:
  application:
    name: bookstore-server-ha

#LOG Configuration:
logging:
  config: classpath:log4j2.xml


